<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubmitTemperatureSelvet</servlet-name>
        <servlet-class>ac.za.tut.model.SubmitTemperatureSelvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginSelvet</servlet-name>
        <servlet-class>ac.za.tut.model.AdminLoginSelvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>ac.za.tut.model.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListServlet</servlet-name>
        <servlet-class>ac.za.tut.model.ViewListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>ac.za.tut.model.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <servlet-class>ac.za.tut.model.AdminSignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitTemperatureSelvet</servlet-name>
        <url-pattern>/SubmitTemperatureSelvet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginSelvet</servlet-name>
        <url-pattern>/AdminLoginSelvet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListServlet</servlet-name>
        <url-pattern>/ViewListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <url-pattern>/AdminSignUpServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
